@model IEnumerable<K22CNT3_lehoanglong_2210900037.Models.User>


<style>
    *{
        margin: 0px;
        padding: 0px;
    }
    .content {
        position: relative;
        left: 5%;
        width:120%;
        height:100%;
    }
</style>

<div class="content">

<h2>Người dùng</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.taikhoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matkhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleId)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.taikhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.matkhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            
            <td>
                @if (item.RoleId == 1)
                {
                    <span style="color:green"> Admin </span>
                }
                else
                {
                    <span style="color:cornflowerblue"> Customer </span>
                }
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.user_id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.user_id }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.user_id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>

</div>